<div class="topnav">
  <div class="search-container">
    <input type="text" placeholder="Search.." name="search" id="search" [(ngModel)]="searchString">
    <button type="submit" (click)="onSubmit()"><i class="fa fa-search"></i></button>
  </div>
</div>
<div class="container">
  <app-user-profile [userDetails]="userDetails"></app-user-profile>
  <app-user-repos [userRepos]="userRepos"></app-user-repos>
</div>
<div style="float: left; margin-top: 5px;">
  <button style=" margin-left: 10px;" type="button" class="btn btn-outline-primary"
    *ngFor="let s of cachedSearchStrings" (click)="loadCacheData(s)">{{s.searchString}}</button>
</div>
